.root {
  flex: 0 0 60px;
  display: flex;
  align-items: center;

  height: 60px;
  min-height: 60px;
  padding: 20px;

  background-color: #333;
}

.root img {
  flex: 0 0 auto;

  height: 32px;
  margin-right: 10px;
}

.root h1 {
  flex: 0 0 auto;

  margin: 0;

  color: #fff;
  font-size: 2rem;
}

.root .orderBy {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.root .orderBy label {
  margin-right: 10px;

  color: #fff;
  font-size: 0.857rem;
}
