@import '../../utils/Colors.css';

.root {
  display: flex;
  flex-direction: column;
}

.root .tiles {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;

  padding: 20px 90px;
}

.root .tiles .tile {
  flex: 1 1 auto;
}

.root .addTileBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;

  background-color: var(--normal-text);
  border: none;
  border-radius: 25px;
  box-shadow: var(--black-shadow);

  color: var(--white);

  transition: color linear 0.3s, background-color linear 0.3s;
}

.root .addTileBtn:hover {
  background-color: var(--white);
  color: var(--normal-text);
}
