.root {
  display: flex;
  flex-direction: column;

  border: 1px solid #e8ebf2;
  box-shadow: 0 2px 7px 0 rgba(107,159,213,0.38);

  width: 300px;
}

.root .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.root .content textarea {
  resize: none;
}

.root .content > div:not(:last-of-type) {
  margin-bottom: 20px;
}

.root .footer {
  flex: 0 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.857rem;
  line-height: 1;

  padding-left: 20px;
}

.root .footer .info {
  flex: 0 0 auto;

  color: #60697A;
  font-size: 0.857rem;
}

.root .footer .info p {
  margin: 3px 0;
}

.root .footer .confirmDelete {
  color: #fa5655;
  user-select: none;
}

.root .footer .delete {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  color: #fa5655;
  cursor: pointer;
}

.root .footer .delete:hover {
  color: #e13d3c;
}
