@import '../../utils/Colors.css';

.root {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border);
  box-shadow: var(--blue-shadow);

  max-width: 300px;
}

.root .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.root .content textarea {
  resize: none;
}

.root .content > div:not(:last-of-type) {
  margin-bottom: 20px;
}

.root .footer {
  flex: 0 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.857rem;
  line-height: 1;

  padding-left: 20px;
}

.root .footer .info {
  flex: 0 0 auto;

  color: var(--subtitle);
  font-size: 0.857rem;
}

.root .footer .info p {
  margin: 3px 0;
}

.root .footer .confirmDelete {
  color: var(--destructive);
  user-select: none;
}

.root .footer .delete {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  color: var(--destructive);
  cursor: pointer;
}

.root .footer .delete:hover {
  color: var(--destructive-hover);
}
