@import '../../../../utils/Colors.css';

.input {
  display: flex;
  flex-direction: column;

  position: relative;
}

.input textarea {
  border: none;
  border-bottom: 1px solid var(--border);

  font-size: 1rem;
  line-height: 1.2;
  overflow: hidden;
  word-break: break-all;

  transition: border-bottom-color ease-in-out 0.3s;
}

.input textarea:focus {
  outline: 0;
  border-bottom: 1px solid var(--focused);
}

.input .measurer {
  visibility: hidden;

  width: 100%;
  min-height: 24px;
  height: auto;
  padding: 2px;
  border-bottom: 1px solid var(--white);

  font-size: 1rem;
  font-stretch: 100%;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  word-break: break-all;
}
