.input input {
  border: none;
  border-bottom: 1px solid #e8ebf2;

  font-size: 1rem;

  transition: border-bottom-color ease-in-out 0.3s;
}

.input input:focus {
  outline: 0;
  border-bottom: 1px solid #1486ff;
}
