@import '../../../../utils/Colors.css';

.input input {
  border: none;
  border-bottom: 1px solid var(--border);

  font-size: 1rem;

  transition: border-bottom-color ease-in-out 0.3s;
}

.input input:focus {
  outline: 0;
  border-bottom: 1px solid var(--focused);
}
